.feedback{
                border: 1px;
                border-style: solid;
                border-color: rgb(139, 135, 135);
                width: 300px;
                padding-left: 20px;
                padding-bottom: 20px;
            }