.kitty{
                width: 300px;
                height: 300px;
                object-position: center;
                border-radius: 150px;
                object-fit: cover;
                
            }