p{
    font-family: arial;
    color: rgb(100,100,100);
    margin-top: 0;
    margin-bottom: 0;
    }
.email{
        font-size: 16px;
        margin-bottom: 10px;
     }
.input{
        width: 400px;
        font-size: 16px;
        border-width: 2px;
        margin-bottom: 20px;
        border-style: solid;
        border-color: rgb(100, 100, 100);
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px;
               
        }
.info{
        font-size: 16px;
        margin-bottom: 20px;
                
        }
.button{
        background-color: rgb(100, 168, 212);
        color: white;
        border: none;
        border-radius: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 400px;
        font-size: 20px;
        font-family: arial;
        }